<!DOCTYPE html>
<html>
<head>
	<title>CuerpoDocente</title>
</head>
<body>
	<h3>Profesores:</h3>
	<div>
		<table bgcolor="#0000FF">
			<tr>
				<td>Ángel Jiménez Molina</td>
			</tr>
			<tr>
				<td>Iván Díaz Campos</td>
			</tr>
		</table>
	</div>
	<h3>Auxiliares:</h3>
	<div>
		<table bgcolor="#FF3300">
			<tr>
				<td>Macarena V. Osorio A.</td>
			</tr>
			<tr>
				<td>José Canto</td>
			</tr>
			<tr>
				<td>Jorge Pinto</td>
			</tr>
			<tr>
				<td>Javiera Ovalle T.</td>
			</tr>
			<tr>
		</table>
	</div>
	<h3>Ayudantes:</h3>
	<div>
		<table bgcolor="#9900CC">
			<tr>
				<td>Carlos Alberto Vega Hernández</td>
			</tr>
			<tr>
				<td>Catalina Martin D.</td>
			</tr>
			<tr>
				<td>Eduardo Valerio C.</td>
			</tr>
			<tr>
				<td>Juan Gutiérrez T.</td>
			</tr>
			<tr>
				<td>Matías Rojas</td>
			</tr>
			<tr>
				<td>Nicolás Villa Contardo</td>
			</tr>
			<tr>
				<td>Sebastián Donoso</td>
			</tr>
			<tr>
				<td>Sofia Herrera</td>
			</tr>
			<tr>
				<td>Victoria Arce A.</td>
			</tr>
			<tr>
		</table>
	</div>

	<a href="https://www.u-cursos.cl/ingenieria/2019/2/IN3501/1/integrantes/">U-cursos</a>
	<br>
	<a href="{% url 'Desafio' %}">Desafio</a>
	<br>
	<a href="{% url 'index' %}">Index</a>

</body>
</html>