<!DOCTYPE html>
<html>
<head>
	<title>Desafio</title>
</head>
<body>
	<h3>Parte 1</h3>
	<div>
		<table>
			<tr>
				<td>Crear un proyecto de nombre “auxiliar2” y una aplicación de nombre “miapp”</td>
			</tr>
		</table>
	</div>
	<h3>Parte 2</h3>
	<div>
		<table>
			<tr>
				<td>El proyecto debe tener 3 templates.</td>
			</tr>
		</table>
	</div>
	<h3>Parte 3</h3>
	<div>
		<table>
			<tr>
				<td>Los templates deben estar enlazados a Django a través de las views y las urls</td>
			</tr>
		</table>
	</div>
	<h3>Parte 4</h3>
	<div>
		<table>
			<tr>
				<td>En los 3 templates tiene que haber un menú con botones que redireccionen a los otros templates</td>
			</tr>
		</table>
	</div>
	<h3>Parte 5</h3>
	<div>
		<table>
			<tr>
				<td>Subir el proyecto al repositorio de Github creado para la auxiliar 2</td>
			</tr>
		</table>
	</div>
	<h3>Finalmente</h3>
	<div>
		<table>
			<tr>
				<td>Subir el proyecto completo a U-cursos</td>
			</tr>
			<tr>
				<td>Recuerde que se revisará que se haya subido a Github</td>
			</tr>
			<tr>
				<td>Link github: <a href="https://github.com/IN3501/auxiliar-2-Joaquin027">GitHub</a> </td>
			</tr>
			<tr>
		</table>
	</div>

	<a href="https://www.u-cursos.cl/ingenieria/2019/2/IN3501/1/integrantes/">U-cursos</a>
	<br>
	<a href="{% url 'CuerpoDocente' %}">Cuerpo docente</a>
	<br>
	<a href="{% url 'index' %}">Index</a>

</body>
</html>